extends ../template.pug
include _song.pug

block variables 
  - const title = "Lyrics | Compromised Neopets Password";


block body
  nav Back to 
    a(href="../index.pug") Home

  main
    ul
      li My MusixMatch profile: just click 
        a(href="https://www.musixmatch.com/profile/3vUCACIqsCorkoJpbsYjcoih5--GJAT11ZtaRKCJsSITEjx-cPPX8_tf5XLqUm8sFVIMoX3Dzz_21q_CcH997MiMbtH_KSxyZhyHk7Rk3910RDhcbusMerzjZXEhRGfOBV5dlW65aTEIpyyp8aZrUkoGWH03yE3cpJ-QzI0WO9E") here
        | . Their profile URL's are a lot
        
      li My Genius profile: 
        a(href="https://genius.com/CompromisedNeopetsPassword") genius.com/CompromisedNeopetsPassword

    table
      tr
        th
        th Song artist &amp; name
        th Genre &amp; Release Date
        th My transcript
        th Lyrics source(s)
        th Added to MusixMatch
        th Added to Genius
        
      tr
        each lyric in lyrics 
          +song(lyric)
      
    br

    span I originally did the lyrics for Izzy Camina's Loser Deadbeat &amp; Celestial Sodemy, submitted them, and then they got locked. And I forgot to save them locally. So uh idk
