doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    
    title CompromisedNeopetsPassword 
    link(rel="stylesheet", href="style.scss")

    meta(property="og:title" content="Compromised Neopets Password")
    meta(property="og:url" content="https://compromisedneopetspassword.neocities.org/")
    meta(property="og:description" content="Lyrics & wiki contributions, media archival. Internet Information and stuff. All that.")
    meta(property="og:image" content="https://compromisedneopetspassword.neonpastel.net/art.jpg")
    meta(property="og:type" content="profile")
    meta(property="og:username" content="CompromisedNeopetsPassword")
    meta(property="og:gender" content="Outdated option that only has male,female")

  body
    nav Back to 
      a(href="index.pug") Home

    main
      ul
        li My MusixMatch profile: just click 
          a(href="https://www.musixmatch.com/profile/3vUCACIqsCorkoJpbsYjcoih5--GJAT11ZtaRKCJsSITEjx-cPPX8_tf5XLqUm8sFVIMoX3Dzz_21q_CcH997MiMbtH_KSxyZhyHk7Rk3910RDhcbusMerzjZXEhRGfOBV5dlW65aTEIpyyp8aZrUkoGWH03yE3cpJ-QzI0WO9E") here
          | . Their profile URL's are a lot
        
        li My Genius profile: 
          a(href="https://genius.com/CompromisedNeopetsPassword") genius.com/CompromisedNeopetsPassword

      table
        tr
          th Song artist &amp; name
          th My transcript
          th Added to MusixMatch
          th Added to Genius
        
        tr 
          td Local News Legend - 
            a(href="https://songwhip.com/local-news-legend/american-werewolf") American Werewolf !
          td
            a(href="../lyrics/Local News Legend - American Werewolf !.md") Here
          td Nope
          td
            a(href="https://genius.com/Local-news-legend-american-werewolf-lyrics") Yes!
      
      br

      span I originally did the lyrics for Izzy Camina's Loser Deadbeat &amp; Celestial Sodemy, submitted them, and then they got locked. And I forgot to save them locally. So uh idk
