$one: #8670B2;
$two: #E6667F;
$three: #BC6C89;
$four: #251755;
$five: #39336B;

@import "./lyrics/lyrics";

html {
  min-height: 100%;
}

body {
  height: 100%;
}

body {
  background: $one;
  background: linear-gradient(180deg, $five 0%, $one 62%, $three 87%, $two);
  color: white;
  font-family: Verdana;
  text-shadow: 2px 2px 5px $four;
}

img {
  width: auto;
  height: 10vw;
  float: right;
  margin-right: 5vw;
}

a:link,
a:visited {
  color: $two;
}

a:visited {
  background-color: $three;
}

a:hover {
  color: $three;
}

a:active {
  color: $five;
}


table {
  border-collapse: collapse;
}

tr {
  border-bottom: 1px solid $two;
}

td,
th {
  padding: 20px 5px;
  text-align: center;
}