/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */

   :root {
    --one: #8670B2;
    --two: #E6667F;
    --three: #BC6C89;
    --four: #251755;
    --five: #39336B;
  }
  
  html {
    min-height: 100%;
  }
  body {
    height: 100%;
  }
  
  body {
    background: var(--one);
    background: linear-gradient(180deg, var(--five) 0%, var(--one) 62%, var(--three) 87%, var(--two));
    color: white;
    font-family: Verdana;
    text-shadow: 2px 2px 5px var(--four);
  }
  
  img {
    width: auto;
    height: 10vw;
    float: right;
    margin-right: 5vw;
  }
  
  a:link, a:visited {
    color: var(--two);
  }
  
  a:visited {
    background-color: var(--three);
  }
  
  a:hover {
    color: var(--three);
  }
  
  a:active {
    color: var(--five);
  }
  
  
  table {
    border-collapse: collapse;
  }
  tr {
    border-bottom: 1px solid var(--two);
  }
  td, th {
    padding: 20px 5px;
    min-width: 30vh;
    text-align: center;
  }