doctype html

block variables

html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")


    link(rel="stylesheet", href="/src/style.scss")
    link(rel="shortcut icon", href="/assets/favicon.ico", type="image/x-icon")
    title=title

    meta(property="og:title" content="Compromised Neopets Password")
    meta(property="og:url" content="https://compromisedneopetspassword.neonpastel.net/")
    meta(property="og:description" content="Lyrics & wiki contributions, media archival. Internet Information and stuff. All that!")
    meta(property="og:image" content="https://raw.githubusercontent.com/Denperidge/CompromisedNeopetsPassword/main/assets/art.jpg")
    meta(property="og:type" content="profile")
    meta(property="og:username" content="CompromisedNeopetsPassword")
    meta(property="og:gender" content="Outdated option that only has male,female")

  body
    block body